table {
    border-radius: 4px;
    border-collapse: collapse;
    margin: 1em;
  }
  th {
    border-bottom: 1px solid rgb(69, 86, 94);
    color: #E2B842;
    font-size: 0.85em;
    font-weight: 600;
    padding: 0.5em 1em;
    text-align: left;
    text-wrap: nowrap;
  }
  td {
    color: #fff;
    font-weight: 400;
    padding: 0.65em 1em;
  }
  .disabled td {
    color: #4F5F64;
  }
  tbody tr {
    transition: background 0.25s ease;
  }
  tbody tr:hover {
    background: #014055;
  }