.card + .card {
    margin-top: 16px;
}

.config-row {
    display:flex;
    justify-content: space-between;
    align-items: end;
    column-gap: 16px;
}
.config-row + .config-row {
    margin-top: 16px;
}
.button-panel {
    display:flex;
    justify-content: space-between;
    margin: 16px 0;
}